@import "tailwindcss";

@theme {
    --color-bg1: #0b0b0b;
    --color-main: #171717;
    --color-main2: #121212;
    --color-button: #242323;
    --color-icon: #b7b7b7;
    --color-title: #DDDDDD;
    --color-text1: #B7B7B7;
    --color-text2: #777777;
    --color-placeholder: #4a4a4a;
}

@layer base {
    h1 {
        @apply text-title text-[20px] font-[600];
    }
    h2 {
        @apply text-text1 text-[14px] font-[400];
    }
    h3 {
        @apply text-text1 text-[14px] font-[500];
    }
    h4 {
        @apply text-text2 text-[14px] font-[400];
    }
}

.hSizeCard {
    height: calc(((100vw - 200px) / 7) * 1.75);
}

.os-scrollbar-track {
    opacity: 0 !important;
}

.os-scrollbar-track:hover {
    opacity: 1 !important;
}

.os-scrollbar-handle {
    background: var(--color-button) !important;
}

.os-scrollbar-handle:hover {
    background: var(--color-icon) !important;
}

.os-scrollbar.os-scrollbar-vertical {
    width: 14px !important;
    top: 20px !important;
    bottom: 20px !important;
    right: -2px !important;
    height: calc(100% - 40px) !important;
}

.swiper-pagination-bullet {
    background: var(--color-button) !important;
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    background: var(--color-icon) !important;
    opacity: 1 !important;
}