@import "tailwindcss";

@theme {
    --color-c0: #0b0b0b;
    --color-c1: #171717;
    --color-c2: #111111;
    --color-c3: #242323;
    --color-c4: #b7b7b7;
    --color-c5: #777777;
}

@layer base {
    h1 {
        @apply text-c4 text-[20px] font-semibold;
    }

    h4 {
        @apply text-c4 font-medium;
    }

    h5 {
        @apply text-c4 font-light;
    }

    p {
        @apply text-c5;
    }
}