@import "tailwindcss";

@theme {
    --color-bg1: #0b0b0b;
    --color-bg2: #171717;

    --color-main: #171717;
    --color-button: #242323;
    --color-icon: #b7b7b7;

    --color-title: #ffffff;
    --color-text1: #c8c8c8;
    --color-text2: #7a7a7a;
    --color-placeholder: #4a4a4a;
}

@layer base {
    h1 {
        @apply text-title text-[20px] font-[600];
    }

    h2 {
        @apply text-text1 text-[14px] font-[400];
    }

    h3 {
        @apply text-text1 text-[14px] font-[500];
    }

    h4 {
        @apply text-text2 text-[14px] font-[400];
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-button) transparent;
}